@model LzLeague.Common.PredictionsBindingModels.GroupWinnerBindingModel

<div class="form-group">
    @Html.HiddenFor(x => x.PredictionId)
    @Html.HiddenFor(x => x.Group.Name)
    @Html.HiddenFor(x => x.GroupId)
    <input asp-for="GroupId" name="GroupId" value="@Model.GroupId" hidden="hidden"/>
    <label class="col-md-1 col-lg-2 form-check-inline">
        <span>
            <b>Group</b> 
            <span class="form-match-result" style="color: @(Model.Group.Name == "A" ? "red" :
                       (Model.Group.Name == "B" ? "blue" : 
                       (Model.Group.Name == "C" ? "green" : 
                       (Model.Group.Name == "D" ? "brown" : 
                       (Model.Group.Name == "E" ? "orange" :
                       (Model.Group.Name == "F" ? "#C3DE3E" :
                       (Model.Group.Name == "G" ? "purple" : "#FF9999")))))))">
                @Model.Group.Name
            </span>
        </span>
    </label>
    <div class="col-md-3 form-check-inline">
        <select class="form-control form-control-sm" custom-name="first-place-teams"
                asp-for="FirstPlace">
            @if (Model.FirstPlace != null)
            {
                <option selected="selected">@Model.FirstPlace</option>
            }
            else
            {
                <option>Group Winner</option>
            }
        </select>
    </div>
    <div class="col-md-3 form-check-inline">
        <select class="form-control form-control-sm" custom-name="second-place-teams"
                asp-for="SecondPlace">
            @if (Model.SecondPlace != null)
            {
                <option selected="selected">@Model.SecondPlace</option>
            }
            else
            {
                <option>Second Place</option>
            }
        </select>
    </div>
    <div class="col-md-3 form-check-inline">
        <select class="form-control form-control-sm" custom-name="europa-league-teams"
                asp-for="EuropaLeague">
            @if (Model.EuropaLeague != null)
            {
                <option selected="selected">@Model.EuropaLeague</option>
            }
            else
            {
                <option>Europa League Qualifier</option>
            }
        </select>
    </div>
</div>
<hr />