@model LzLeague.Common.PredictionsBindingModels.UserStandingBindingModel

<tr>
    <td name="index-col" style="font-weight: bold"></td>
    <td style="color: green; font-weight: bold">@Model.FullName</td>
    <td>@Model.GuessedResults</td>
    <td>@Model.GuessedScores</td>
    <td>@Model.GuessedGroupWinners</td>
    <td>@Model.GuessedSecondPlaces</td>
    <td>@Model.GuessedElTeams</td>
    <td style="color: blue; font-weight: bold">@Model.TotalScore</td>
</tr>