@model LzLeague.Common.AdminBindingModels.TeamBindingModel

<tr>
    <td><img src="@Model.ImageUrl" class="img-circle" style="width: 40px"/> <b>@Model.Name</b></td>
    <td>@Model.Wins</td>
    <td>@Model.Loses</td>
    <td>@Model.Draws</td>
    <td>@Model.Points</td>
</tr>