@model LzLeague.Common.AdminBindingModels.UserBindingModel

<tr>
    <td name="index-col-users" style="font-weight: bold"></td>
    <td style="color: green; font-weight: bold">@Model.FullName</td>
    <td>@Model.Email</td>
    <td>
        @if (Model.PredictionId != null && Model.TotalScore == 0)
        {
            <a asp-area="Admin"
               asp-controller="Users"
               asp-action="EditPrediction"
               asp-route-predictionId="@Model.PredictionId" class="btn btn-warning">
                Prediction
            </a>
        }
        else
        {
            <a href="#" class="btn btn-default disabled">No Prediction</a>
        }

        <a class="btn btn-danger" style="color: white" data-toggle="modal" data-target="#confirmation-modal-user-@Model.Id">
            Delete
        </a>
        @if (Model.PredictionId == null)
        {
            <a class="btn btn-info" style="color: white" data-toggle="modal" data-target="#confirmation-promote-user-@Model.Id">
                Promote Admin
            </a>
        }

        @if (!Model.IsApproved)
        {
            <a class="btn btn-success" style="color: white" data-toggle="modal" data-target="#confirmation-approve-user-@Model.Id">
                Approve
            </a>
        }
        else
        {
            <a class="btn btn-danger" style="color: white" data-toggle="modal" data-target="#confirmation-ban-user-@Model.Id">
                Ban
            </a>
        }
        <a class="btn btn-success" style="color: white" data-toggle="modal" data-target="#add-points-@Model.Id">
            Add Points
        </a>
    </td>
</tr>

<div class="modal fade" id="confirmation-modal-user-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-user-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUser">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <span style="font-weight: bold">@(Model.FullName)</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-area="Admin"
                   asp-controller="Users"
                   asp-action="Delete"
                   asp-route-email="@Model.Email" class="btn btn-danger">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation-promote-user-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-user-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="promoteUser">Promote User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to promote <span style="font-weight: bold">@(Model.FullName)</span> to admin?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-area="Admin"
                   asp-controller="Users"
                   asp-action="AddAdminRole"
                   asp-route-email="@Model.Email" class="btn btn-success">
                    Promote
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation-approve-user-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-user-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="approveUser">Approve User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to approve <span style="font-weight: bold">@(Model.FullName)</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-area="Admin"
                   asp-controller="Users"
                   asp-action="Approve"
                   asp-route-email="@Model.Email" class="btn btn-success">
                    Approve
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation-ban-user-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="confirmation-modal-user-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="banUser">Ban User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to ban <span style="font-weight: bold">@(Model.FullName)</span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-area="Admin"
                   asp-controller="Users"
                   asp-action="Ban"
                   asp-route-email="@Model.Email" class="btn btn-danger">
                    Ban
                </a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add-points-@Model.Id" tabindex="-1" role="dialog" aria-labelledby="modal-add-points-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPoints">Add Points</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-area="Admin" asp-controller="Users" asp-action="AddPoints" method="post">
                <div class="modal-body">
                    <input type="text" name="email" value="@Model.Email" hidden />
                    <select name="pointsType" class="form-control">
                        <option value="score">Score</option>
                        <option value="result">Result</option>
                        <option value="groupWinner">First Place</option>
                        <option value="secondPlace">Second Place</option>
                        <option value="thirdPlace">Third Place</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" 
                       class="btn btn-info">
                        Add Points
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>